
.header {
    font-size: $font-sm;
    padding: 1.25rem;

    &__logo, &__button  {
        z-index: 100;
    }
    
    &__logo {

        width: 4.375rem;
        height: 3.75rem;
        background-color: red;
    }

    &.open {

        .overlay {
            display: block;
            animation: fade-in 300ms forwards;
        }
        .header__menu {
            >span:first-child {
                transform: rotate(45deg);
            }
    
            >span:nth-child(2) {
                opacity: 0;
            }
    
            >span:last-child {
                transform: rotate(-45deg);
            }
        }
        
    }

    &__menu {
        >span{
            display: block;
            width: 1.625rem;
            height: 0.125rem;
            background-color: $gold;
            border-radius: 1rem;
            transition: all 0.5s;
            transform-origin:2px 1px;

            &:not(:last-child) {
            margin-bottom: 0.375rem;
            }
        }

    }



    &__links {
        
        a {
           position: relative;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &::before{
                content: "";
                display: block;
                height: 0.2125rem;
                position: absolute;
                border-radius: 1.25rem;
                left: 0;
                right: 0;
                bottom: -1.575rem;
                transition: 250ms ease-in-out;
            }

            &:hover {
                transition: 100ms ease-in-out;
                color: $light-gold;


                &::before{
                    background: $gold;
                }

            }
        }
      
        
          
   
    }

    

        

    &__button {

        padding: 1.25rem 0;

        >a {
            background-color: $grey;
            background: rgb(0,0,0);
            background: linear-gradient(170deg, $black 10%, $grey 50%, $black 100%);
            color: $light-gold;
            padding:1.5625rem 1.25rem;
            border-radius: 3.125rem;
            
        }
    }

    .menu-btn {
        z-index: 100;
        display: inline-flex;
        align-items: center;

        .header__menu {
            margin-left: 1.25rem;
        }


    }
}

.overlay {
    opacity: 0;
    background-color: $grey;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;

    
}