.space {
    position: flex;
    top: 0;
    width:100%;
    height:calc(100% - 100px);
}

.slideshow {
    position: absolute;
    top:0;
    right: 0;
    z-index: -1;
    width:100vw;
    height:100vh;
    background-image: url("../../media/img/house1.jpg.");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(1);
}




