$navyBlue: #000080;
$gold: #FFDF00;

$white: #F1E9E9;

$primary-navy: #0000BD;
$light-gold: #FFF299;

$grey: #232323;
$black: #000000;

//fonts

$font-lg:1.125em;
$font-md:1em;
$font-sm:0.875em;